body {
    font-family: Georgia, Times, serif;
    
}
    h1, h2{
    font-family: Arial, Verdana, sans-serif;
    color: blue;
}
    .credits {
    font-family: "Courier New", Courier, 
    monospace;
color: blueviolet;
}
h3, p{
    font-family: 'Roboto', sans-serif;
    color: aqua;
}